@font-face {
    font-family: rtfkt-icons;
    src: url(../fonts/rtfkt-icons.ttf) format("truetype"),
    url(../fonts/rtfkt-icons.woff) format("woff"),
    url(https://cdn-staging.rtfkt.com/assets/fonts/rtfkt-icons.svg?i1igp5#rtfkt-icons) format("svg");
    font-weight:400;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: alienzwar;
    src: url(../fonts/TT_Alientz_Var.ttf)
}

@font-face {
    font-family: Sohne;
    font-weight: 400;
    src: url(../fonts/Sohne-Buch.otf) format("opentype")
}

@font-face {
    font-family: Sohne Breit;
    src: url(../fonts/SohneBreit-Buch.otf);
}

.custom-btn {
    background-color: #5733f5;
    width: 13rem;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.custom-btn:hover {
    background-color: #4b24f4;
}

body {
    background-color: #1f2028;
}

.rtfkt-footer {
    padding-top: 10rem;
}

.subtitle {
    color: #5733f5;
    font-family: Sohne Breit!important;
    font-weight: 700!important;
    letter-spacing: 1.6px!important;
}

.main-title {
    color: white;
}

.main-title, .subtitle {
    font-family: Sohne;
}

.text-tertiary {
    font-family: alienzwar;
    font-style: normal;
    font-variation-settings: "DSPL" 500;
}

@media (max-width: 575px) {
    .header-play {
        display: flex;
        justify-content: center;
    }
    .hero-title, .bio, .main-title, .subtitle {
        text-align: center;
    }
}
